<button pButton type="button" label="Login" icon="pi pi-home" [routerLink]="['/login']" [routerLinkActive]="['ui-button-success']">Login</button>
<button pButton type="button" label="Pagina1"  [routerLink]="['/pagina1']" [routerLinkActive]="['ui-button-success']">Pagina1</button>
<button pButton type="button" label="Pagina2"  [routerLink]="['/pagina2']" [routerLinkActive]="['ui-button-success']">Pagina2</button>
<button pButton type="button" label="Pagina3"  [routerLink]="['/pagina3']" [routerLinkActive]="['ui-button-success']">Pagina3</button>

<router-outlet></router-outlet>