<button pButton type="button" label="Login" icon="pi pi-home" [routerLink]="['/login']" [routerLinkActive]="['ui-button-success']"></button>
<button pButton type="button" label="Pagina1"  [routerLink]="['/pagina1']" [routerLinkActive]="['ui-button-success']"></button>
<button pButton type="button" label="Pagina2"  [routerLink]="['/pagina2']" [routerLinkActive]="['ui-button-success']"></button>
<button pButton type="button" label="Pagina3"  [routerLink]="['/pagina3']" [routerLinkActive]="['ui-button-success']"></button>

<router-outlet></router-outlet>